# HTML content
/*.html
/html

# plera content
/plera/

# association era content
/associationera/

# CSV
/*.csv
/data
/kagglefoot

# TXT
/*.txt
/static

# JSON
/*.json


# More automated versions
/worldfootball/playerseasons.py
/worldfootball/playerseasonsauto.py
/worldfootball/superauto.py
/worldfootball/*.csv
/worldfootball/scraping_progress.json

# Unclean data
/playerseasonsraw